.container {


}
.subCategory {
    display: flex;
    height: 22px;
    padding: 3px 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #E8E8E8;
    color: black;
    width: fit-content;
    cursor: pointer;
}