.container {


}
.subCategory {
    display: flex;
    height: 22px;
    padding: 3px 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #E8E8E8;
    color: black;
    width: fit-content;
    cursor: pointer;
    transition: background 9999999s;
}
.subCategory:active  {
    color: #F1F1F1;
    background-color: #222b32;
    transition: background 0s;
}