.container {
    width: 100%;
}

h1 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 38px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.title {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}
.title a {
    color: rgb(4, 74, 178);
    transition-duration: 0.5s;
    border-bottom: 1px solid white;

}
.title:hover a {
    text-decoration: underline;
}

button {
    color: #8f8d8d;
    background: var(--white);
    border: none;
    padding: 0;
}

input {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #B6B6BC;
    border-radius: 8px;
    margin-bottom: 24px;
}

input[placeholder] {
    line-height: 20px;
    font-size: 14px;
    color: #8F8F98;
}

.list {
    border-bottom: solid 1px #EAECF0;

}

.list ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    color: #8F8F98;
    gap: 8px;
    align-items: end;
}
.mastersList {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    color: #8F8F98;
    gap: 8px;
    align-items: end;
    height: 56px;
    color: black;
}

.id {

    width: 72px;
}

.name {
    width: 195px;
}

.service {
    width: 176px;
}

.email {
    width: 195px;
    overflow: hidden;
}

.address {
    width: 195px;
}

.phone {
    width: 160px;
}

.empty {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}