.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 31px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #5B5B5B;
    max-width: 100%;
    color: #FFFFFF ;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 1px solid   #5B5B5B;
}
.button:hover {
    color: #222b32;
    border: 1px solid   black;
    background: #F1F1F1;
    transition-duration: 0.5s;
}