.city {
    border-radius: 50px;
    background: #C8C8C8;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 255px;
    height: 20px;
    padding-left: 30px;
   display: flex;
    align-items: center;
    font-family: Inter;
}