.city {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: fit-content;
    border-bottom: 3px solid var(--white);
    transition-duration: 0.5s;
    cursor: pointer;
}
.city:hover {
    border-bottom: var(--blue) 3px solid;
    width: fit-content;
    cursor: pointer;
}