.app {
    justify-content: center; 
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%
}

.footer {
    width: 100%;

}

@media screen and (min-width: 1440px) {
    .app {
        width: 100%;
        margin: auto;

    
    }
    
    .header {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        width: 100%
    }
    
    .footer {
        width: 100%;
    
    }
}