.searchByCityBlock {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    flex-wrap: wrap;
    min-height: 200px;


}

.title {
    color: var(--black, #21151F);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.cities {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}