.recommendations {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto auto 120px;
}
.recommendationsTitle {
    width: 278.473px;
    height: 30px;
    border-radius: 50px;
    background: #5B5B5B;
    color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

}
.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: start;
}