.recommendations {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto auto 120px;
}
.recommendationsTitle {
    margin-top: 60px;
    margin-bottom: 32px;
        
    color:#21151F;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 500;

}
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}