.container {
  width: 328px;
  margin: 0 auto;
  margin-top: 20px;
  
  height: 100px;
}

.btn_login {
  visibility: hidden;
}

.btn_Business {
  visibility: hidden;
}

.burger_container {
  position: relative;
  top:-165px;
  left: 300px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 720px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    margin-top: 15px;
  }
  .btn_login {
    display: none;
  }
  .searchForm {
    margin-left:20px;
    margin-right: 20px;
  }
  .burger_container {
    visibility: hidden;
  }

  .hidden_element {
    display: none;
  }

  .headerButtons {
    display: flex;
    gap: 20px;
    color: #fff;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
  }

  .btn_Business {
    
    visibility: visible;
    text-decoration: none;
  }

  .burger_container {
    visibility: hidden;
  }

  .searchForm {
       visibility: visible;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1280px;
    height: 72px;
    
  }

  .headerButtons {
    display: flex;
    gap: 20px;
    color: #fff;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
  }

  .btn_login {
    visibility: visible;
   display: flex;
  }

  .buttonBusiness {
    visibility: visible;
    text-decoration: none;
  }
 
  .searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  .buttons{
    display: flex;
gap: 10px;
margin-left: 100px;
  }
}
