.appointmentButton {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 26px;
    height: 26px;
    border: none;
    background-color: var(--white);
    transition-duration: 0.5s;
}

.appointmentButton:hover {
    transform: rotate(1turn);
    cursor: pointer;
}

.appointmentImgButton {
    fill: #10100f;

}

.appointmentWelcome {
    font-size: 16px;
}

.appointmentText {
    margin-top: 30px;
    font-size: 14px;
    color: var(--gray);
}

.appointmentTel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 28px;
    border-radius: 8px;
    text-align: center;
    color: var(--white);
    background-color: var(--blue-dark);
    font-size: 14px;
}
