.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

form input:focus {
    outline: none;
    border: 1px solid var(--pink);
}
form textarea:focus {
    outline: none;
    border: 1px solid var(--pink);
    resize: none;
}

form select:focus {
    outline: none;
    border: 1px solid var(--pink);
}

form label {
    margin-bottom: 6px;
    color: var(--black, #21151F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.categoriesBlock option {
    color: var(--gray4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}

.address, .description, .categoriesBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--gray4, #8F8F98);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.categoriesBlock select {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray3);
    background: var(--white, #FFF);
    color: var(--gray4, #8F8F98);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}


.inputAddress {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray3);
    background: var(--white, #FFF);
    color: var(--gray4, #8F8F98);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    margin-bottom: 0;
}

.description textarea {
    min-height: 120px;
    max-height: 144px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray3);
    background: var(--white, #FFF);
    resize: none;
}




.error p{
    color: darkred;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.error {
    margin: 0;
    padding: 0;
}
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--pink);
    color: #044AB2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    height: 40px;
    width: 100%;
    opacity: 1;
    letter-spacing: 0;



}

.bn54 .bn54span {
    padding: 8px 24px;
    color: var(--blue-dark);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}