.container {
  display: flex;
}
.error p {
  color: red;
  font-size: 14px;
}
.loginBlock {
  width: 720px;
  height: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.logo {
  margin-top: 32px;
  margin-bottom: 32px;
}

.loginForm {
  width: 360px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
}

.loginHeader {
  align-self: stretch;

  color: var(--black, #21151f);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.form {
  width: 320px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 40px;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  color: var(--black, #21151f);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.email input,
.password input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray2, #b6b6bc);
  background: var(--white, #fff);
  margin: 0;
}


.password {
    margin-bottom: 20px;
  }

.forgetlink{
    color: #044AB2;
}
.noAcc{
    display: flex;
}
.noAcclink{
    margin-left: 10px;
    color: #044AB2;

}

.loginImg {
  width: 720px;
  height: 960px;
}
