.subCategoriesBlock {
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto auto 200px;
    flex-wrap: wrap;




}
.categories {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}
.title {
    color: var(--black, #21151F);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
}