.container {
  margin: 0 auto;
  width: 1280px;
  margin-bottom: 80px;

}
.title {
  color: var(--black, #21151f);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}


.categoriesBlock1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.categoriesBlock1Left{
    width: 630px;
    height: 744px;
    background-color: aqua;
}


.categoriesBlock1Right{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 630px;
    height: 744px;
 
}

.categoriesBlock2{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.categoriesBlock3{
    display: flex;
    gap: 20px;
}