.horizontal-slider {

    width: 100%;
    min-width: 300px;
    height: 50px;

}

.example-track {
    top: 20px;
    height: 15px;
    background: #8f8d8d;

}

.example-track.example-track-0 {
    background: #5B5B5B;
    border-radius: 20px ;
}

.example-track.example-track-1 {
    background: #F1F1F1;
}
.example-track.example-track-2 {
    background: #5B5B5B;
    border-radius: 20px ;
}
.example-thumb {
    top:12px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 15px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background:#5B5B5B;
    transition-duration: 1s;

}
.example-thumb:focus {
    outline: 0;
    border:none;
}
.example-thumb:hover {
    transform: scale(1.1);


}
.prices-slider {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.value {
    margin-left: 5px;
}

