.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h3 {
    color: var(--black, #21151F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

p {
    color: var(--gray);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}