.container {
    padding: 48px 40px;
}

h1 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 38px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.inputs input {
    width: 576px;
    height: 44px;
    padding: 12px 16px;
    border: 1px solid #B6B6BC;
    border-radius: 8px;
}

.inputs label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    padding: 8px 24px;
    border-radius: 8px;
    background: var(--white);
    width: 124px;
}

.buttons button:hover {
    color: var(--white);
    background: #8CB7F5;
    border: none;
}
.buttons button:active {
    background-color: var(--blue-dark);
}