.footerContainer {
    display: flex;
    width: 100%;
    background: var(--pink);
    color: var(--white);
    align-items: center;
    flex-direction: column;
    height: 656px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 45px;
    position: relative;
    height: 350px;
}
.footerTop::after {
    width: 98%;
    position: absolute;
    bottom: 0;
    content: '';
    margin: 0 auto;
    left: 0;
    right: 0;
    border: .2px solid #E8E8E8;
}
.logoSocialBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    background-color: var(--white);
    border-radius: 36px;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    cursor: pointer;
}

.about {
    width: 412px;
    height: 99px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.socialBlock {
    display: flex;
    gap: 16px;
}

.social {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.footerInformationBlock {
    display: flex;
    gap: 60px;
}

.footerContactsBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}

.contacts {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
.docs {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
}
.copyright {
    margin-top: 50px;
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}