.promoContainer {
    width: 360px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.promoLeftBlock {
    position: absolute;
    top: 70px;
    padding-left: 16px;
    display: flex;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    align-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.promoRightBlock {
    position: absolute;
    top: 320px;
    padding-left: 16px;
    height: 200px;
    margin: 0 auto;
}

.promoText1 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 3px;
    margin-right: 12px;
    color: var(--black);
}

.promoBlockText2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 42px;
    padding-bottom: 8px;
    background: #044ab2;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.promoText2 {
    font-weight: 500;
    font-size: 28px;
    color: var(--white);
    margin-bottom: 6px;
}

.promoText3 {
    font-weight: 500;
    font-size: 28px;
    color: var(--black);
    margin-top: 1px;
    margin-bottom: 8px;
}

.promoBlockText4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 253px;
    height: 42px;

    background: var(--pink);

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.promoText4 {
    margin-top: 6px;
    font-weight: 500;
    font-size: 28px;

    color: var(--white);
}

.promoText5 {
    font-size: 16px;
    color: var(--gray);
    margin-top: 12px;
}

.promoRightBlock {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
    gap: 16px;
}

.promoFotoSmall {
    width: 99px;
    height: 142px;
}

.promoFotoLarge {
    width: 213px;
    height: 138px;
}

.promoButtonContainer {
    position: absolute;
    bottom: 100px;
    left: 0;


}

.promoButton {
    background-color: #044ab2;
    color: var(--white);
    width: 235px;
    height: 56px;
    padding: 12px 24px 12px 28px;
    border-radius: 8px;
    gap: 12px;

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promoButton svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promoButton:hover {
    background-color: #376dc4;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .promoContainer {
        display: flex;
        justify-content: space-between;
        width: 720px;
        /* height: 544px; */
        margin: 0 auto;
        padding-top: 52px;
    }

    .promoLeftBlock {
        position: relative;
        top: 0;
        display: flex;
        width: 407px;
        height: 189px;
        align-items: flex-start;
        align-content: center;
        padding-top: 30px;
        padding-left: 0px;
        gap: 8px;
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    .promoRightBlock {
        position: relative;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-right: 0;
        gap: 12px;
        width: 302px;
        height: 223px;
    }

    .promoText1 {
        padding-top: 15px;
        font-weight: 500;
        font-size: 34px;
        margin-right: 0px;
        margin-top: 7px;
        padding-top: 0px;
    }

    .promoBlockText2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 48px;
        padding-bottom: 0px;
        padding-top: 0px;
        /* padding-bottom: 8px; */
        background: #044ab2;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .promoText2 {
        font-weight: 500;
        font-size: 34px;
        color: var(--white);
        padding-bottom: 7px;
    }

    .promoText3 {
        font-weight: 500;
        font-size: 34px;
    }

    .promoBlockText4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 313px;
        height: 48px;
        background: var(--pink);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .promoText4 {
        font-weight: 500;
        font-size: 34px;
        color: var(--white);
    }

    .promoText5 {
        font-weight: 400;
        font-size: 18px;
        color: #8f8f98;
        margin-top: 3px;
    }

    .promoRightBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 302px;
    }

    .promoFotoSmall {
        width: 96px;
        flex-shrink: 0;
    }

    .promoFotoLarge {
        width: 193px;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1440px) {
    .promoContainer {
        width: 1280px;
        height: 544px;
    }

    .promoLeftBlock {
        width: 630px;
        gap: 8px 12px;
        padding-top: 150px;
    }

    .promoRightBlock {
        position: relative;
        top: 0;
        height: 464px;
    }

    .promoText1 {
        margin-top: 10px;
        font-size: 48px;
    }

    .promoBlockText2 {

        width: 270px;
        height: 64px;
        padding-bottom: 8px;
    }

    .promoText2 {
        font-size: 48px;
    }

    .promoText3 {
        font-size: 48px;
    }

    .promoBlockText4 {
        width: 415px;
        height: 64px;
    }

    .promoText4 {
        font-weight: 500;
        font-size: 48px;
        color: var(--white);
    }

    .promoText5 {
        margin-top: 12px;
    }

    .promoRightBlock {
        gap: 20px;
        width: 650px;
    }

    .promoFotoSmall {
        width: 197px;
        height: 276px;

    }

    .promoFotoLarge {
        width: 413px;
        height: 276px;

    }
}
