.searchFormContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  height: 46px;
  padding: 8px;
  margin-top: 5px;
  margin-right: auto;
  border: 1px solid #eaecf0;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 15px;
}

.searchForm {
  display: flex;
  align-items: center;
}

button.searchFormButton {
  margin-bottom: 0;
  padding: 4px 4px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--blue-dark);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.searchFormButton:hover {
  background-color: #376dc4;
  cursor: pointer;
}

.searchFormCategoryBox {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  border: none;
  color: var(--gray4);
  background-color: var(--white);
}


.searchFormCategoryBox:focus {

  border: none;
  color: var(--gray4);
  background-color: var(--white);
}

.searchFormDivLine {
  width: 5px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  color: var(--gray4);
  border: none;
  border-right: 1px solid #b6b6bc;
}

.searchFormSelect {
  border: none;
}

.searchFormSelect:focus {
  border: none;
}

.searchFormSelectBox {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  color: var(--gray4);
  font-size: 16px;
  background-color: var(--white);
}

.searchFormSelectBox:focus {
  border: none;
  color: var(--gray4);
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .searchFormContainer {
    width: 412px;
    padding: 0;
    margin-left: 0;
    border: none;
    margin-top: 0px;
  }

  .searchForm {
    height: 40px;
    display: flex;
    border: 1px solid #eaecf0;
    border-radius: 10px;
    background-color: #ffffff;
   
  }

  .searchFormCategoryBox {
    width: 160px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-left: 10px;
    color: var(--gray);
  }

  .searchFormCategoryBox:focus {
    width: 243px;
    font-size: 14px;
    border: none;
    outline: none;
    color: var(--gray);
  }

  .searchFormDivLine {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #8f8f98;
    border: none;
    border-right: 1px solid #b6b6bc;
  }

  .searchFormSelect {
   width: 150px;
  }
  .searchFormSelectBox{
    width: 130px;
  }

  .searchFormSelect:focus {
    margin: auto 10px;
    border: none;
  }

  .searchFormSelectBox {
    border: none;
    outline: none;
    color: var(--gray);
    font-size: 14px;
  }

  .searchFormSelectBox:focus {
    border: none;
    outline: none;
    color: var(--gray);
    font-size: 14px;
  }
  button.searchFormButton{
    margin-right: 5px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .searchFormContainer {
    
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 12px;
    margin-left: 20px;
  }
.searchForm{
  width: 648px;
}

  .searchFormCategoryBox {
    width: 343px;
  }
  .searchFormCategoryBox option {
    width: 343px;
  }

  .searchFormButton {
    margin-bottom: 0;
    padding: 8px 24px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    background-color: var(--blue-dark);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
  }

  .searchFormButton:hover {
    background-color: #376dc4;
    cursor: pointer;
  }
  .searchFormSelectBox{
    width: 250px;
  }
}
