:root {
--pink: #E19192;
    --yellow:#FFD12C;
    --blue:#78C5CC;
    --white:#FFFFFF;
    --black:#21151F;
    --error:#CF1922;
    --gray2:#D1D1D1;
    --gray: #5B5B5B;
    --blue-dark: #044AB2

}
* {


}

*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {

    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    max-width: 100%;
    font-family: Inter;


}


ul[class],
ol[class] {
    list-style: none;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}


img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}


input,
button,
textarea,
select {
    font: inherit;
}


