:root {
    --pink: #FFBBD8;
    --yellow: #FFD12C;
    --blue: #78C5CC;
    --white: #FFFFFF;
    --black: #21151F;
    --error: #CF1922;
    --gray2: #D1D1D1;
    --gray: #5B5B5B;
    --gray3: #B6B6BC;
    --gray4: #8F8F98;
    --blue-dark: #528eed


}

*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {

    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    max-width: 100%;
    font-family: Lato, sans-serif;


}


ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: var(--white);
}


img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}


input,
button,
textarea,
select {
    font: inherit;
}

.loader-box {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
