.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    gap: 10px;
    height: fit-content;
    margin: 0 auto;
}

.mainPart {
    width: 100%;
    display: flex;
    border-radius: 8px;
    gap: 10px;

    margin: 0 auto;
}

.cardImgBlock {


}

.cardImg {
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 264px;
    height: 100%;
    position: relative;

}

.mainInformation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardInformation {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    font-size: 18px;
}

.cardTitle {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardProfession {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardAddress {
    color: #5B5B5B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardCategory {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    gap: 10px;
}

.cardDescription {
    width: 640px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.social {
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: end;
}

.icon {
    cursor: pointer;
}

.button {
    font-size: 12px;
    width: 300px;


}

.rating {
    position: absolute;
    right: 0;
    border-radius: 8px;
    background-color: #8f8d8d;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 70px;
    height: 50px;
}

.cardStarsNumber {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 5px
}

.cardRatingNumber {
    color: #FFF;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px;
}
